*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    /* background-color: #FFE6F7; */
    background-color: #FFB9B9;
    background-image: url("images/pink-back-pattern-2.jpg");
    background-size: cover;
    /* background-blend-mode: overlay; */
    background-blend-mode: lighten;
} 
#main{
    height: fit-content;
    background-color: #7ae0ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards{
    width:280px;
    height: fit-content;
}
.cards img{
    width: 280px;
    height: 200px;
}
.card-footer{
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.cards-group-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-group{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

}
.box{
    /* float: left; */
    background-color: #0162b1;
    color: #fff;
    width:auto;
    line-height: 20px;
    text-align: center;
    margin:10px;
    display: none;
}
.show{
    display: block;
}
.btn1{
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;

}
.btn1:hover{
    background-color: #ddd;

}