a{
    text-decoration: none;
    color: inherit;
}
.col3 a:hover, .col2 a:hover{
    color:  rgb(174, 231, 231);
}
.main{
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    background-color: #4C0033;
    color: rgb(195, 214, 214);
}
.col1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer-img{
    margin-right: 10px;
    width: 170px;
    height: 100px;
}
.col2 h4, .col3 h4{
    padding-top: 10px;
    color: rgb(243, 246, 249);
}