body{
    margin: 0;
    padding: 0;
}
.navbar{

    background: rgb(255,255,255);
    background: -moz-linear-gradient(135deg, rgba(255,255,255,1) 4%, rgba(255,238,238,1) 27%, rgba(255,238,221,1) 61%, rgba(238,255,255,1) 92%);
    background: -webkit-linear-gradient(135deg, rgba(255,255,255,1) 4%, rgba(255,238,238,1) 27%, rgba(255,238,221,1) 61%, rgba(238,255,255,1) 92%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 4%, rgba(255,238,238,1) 27%, rgba(255,238,221,1) 61%, rgba(238,255,255,1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#eeffff",GradientType=1);

}