body{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 0;
}
.nav-toggle{
    background-color: hotpink !important;
    border: 2px solid;
}
.nav-toggle-icon{
    
    background-image: url("images/more.png");
}

.navbar a{
    text-decoration: none;
    color: rgb(244, 236, 243);
    font-size: 1.2rem;
}
.navbar a:hover{
    color: #E80F88;
}
.logo{
    width: 150px;
    height: 60px;
}
