/* font-family: 'Merriweather', serif; */
/* font-family: 'Montserrat', sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: #ef9ad3; */
    background-color: #790252 !important;

}
.navbar-replace{
    margin: 0;
    backdrop-filter: blur(10px); 
}

.main-wrapper-class {
    margin: 0;
    min-height: 90vh;
}

#myVideo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;;
    object-fit: cover;
    z-index: -2;
    opacity: 0.75;
  }
@media(min-aspect-ratio: 16/9){
    #myVideo{
        overflow-x: hidden;
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    #myVideo{
        overflow-x: hidden;
        width: auto;
        height: 100%;
    }
}
.main-text{
    /* backdrop-filter: blur(10px);  */
    /* color:#eddee8; */
    color: #ffffff;
    /* color:#4c0962; */
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 50px 20px;
}

.browse-button{
    width: 300px;
    letter-spacing: 1.5px;
    color:#790252 !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    background-image: url("images/pink-back-pattern-3.jpg");
    background-size: cover;
    border-radius: 20px !important;
}
.browse-button:hover{
    opacity: 0.75;
}
h1{
    font-size: 2.5rem;
    width: fit-content;
}
h2{
    font-size: 1.5rem;
    width: fit-content;
}
.small-heading{
    font-size: 1rem;
}

.second-wrapper-class {
    padding: 20px 10px;
    text-align: center;
    background-color: #E80F88;
    background-image: url("images/pink-back-pattern-2.jpg");
    background-size: cover;
    background-blend-mode: darken;
    min-height: fit-content;
    
}
.second-wrapper-class h2{
    font-size: 2.2em !important;
    margin: 0 auto;
    color: #ffffff;
}
.second-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.second-nested-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.second-nested-flex ul{
    padding-left: 1em !important;
}
.second-nested-flex ul li{
    text-align: left;
    color: #ced4ba;
    font-size: 1.3em;
}
.outlet-text-left{
    font-size: 1.7em;
    color: #e7e1e1;

}
.second-col-2 div{
    color: #d1dab6;
    padding-top: 8em ;
    padding-bottom: 8em;
    height: inherit;
    opacity: 1;
}
.second-col-2 h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2.3em;
}
.second-col-2 div button{
    color: #ced4ba;
    border-color: #d1dab6;
}
.second-col-2 div button:last-child{
    color: #790252; 
}
/* ============ Third section =============== */
.third-wrapper-class{
    width: 100%;
    height: fit-content;
    background-color: #790252;
    text-align: center;
}
.third-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.third-wrapper-class h2{
    margin: 0 auto ;
    padding: 1em 0.5em 0.5em 0.5em;
    color: #FFACC7;
}
.third-wrapper-class p{
    font-size: 1.1em;
    color: #f5edf2;
    margin: 0;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 2em;
}
.third-wrapper-class p span{
    font-size: 1.3em;
    font-weight:bold;

}
.third-wrapper-class p button{
    font-size: 1.2em;
    letter-spacing: 1.5px;
    width: 300px;
    color:#e7e1e1;
    border-color: #e7e1e1;
    background-image: url("images/pink-back-pattern-2.jpg");
}
.third-wrapper-class div img{
    padding: 0.2em 0.3em;
    width: 200px;
    height: auto;
}

